apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.appName }}
  namespace: {{ .Values.openshiftProject }}
  labels:
    app.kubernetes.io/managed-by: quarkus
    app.openshift.io/runtime: quarkus
    app.kubernetes.io/name: {{ .Values.appName }}
    app.kubernetes.io/version: {{ .Values.image.tag }}
  annotations:
    app.openshift.io/vcs-uri: {{ .Values.git.repoURL | quote }}
    app.quarkus.io/vcs-uri: {{ .Values.git.repoURL | quote }}
spec:
  replicas: 1 # Consider making this configurable via .Values.replicaCount
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Values.appName }}
  template:
    metadata:
      annotations:
        alpha.image.policy.openshift.io/resolve-names: '*'
        app.openshift.io/vcs-uri: {{ .Values.git.repoURL | quote }}
        app.quarkus.io/vcs-uri: {{ .Values.git.repoURL | quote }}
      labels:
        app.kubernetes.io/managed-by: quarkus
        app.openshift.io/runtime: quarkus
        app.kubernetes.io/name: {{ .Values.appName }}
        app.kubernetes.io/version: {{ .Values.image.tag }}
    spec:
      containers:
        - env:
            - name: JAVA_APP_JAR
              value: /deployments/quarkus-run.jar
            - name: TESTE2
              value: ricardo
          image: "{{ .Values.image.registryURL }}/{{ .Values.openshiftProject }}/{{ .Values.appName }}:{{ .Values.image.tag }}"
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/live
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
          name: {{ .Values.appName }}
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
          startupProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/started
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
